* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NAVBAR */
header nav ul .link-op .elementos , button {
    display: none;
}

header nav {
    padding: 0 6rem;
    height: 4rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

header nav ul { 
    display: flex;
    padding-top: 1rem;
}


header nav ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
}

header nav .link-op .op1, .op2, .op3, .op4 {
    padding: 0 1.5rem;
}

.boton-descarga {
    display: flex;
    align-items: center;
}

.boton-descarga a {
    text-decoration: none;
}


/* CONTENEDOR DEL CONTENIDO */
.ContenedorC {
    width: 90vw;
    margin: 0 auto;
}

/* CONTENEDOR 1 */
.c-contenido-1 {
    padding: 4rem 0;
}

.c-contenido-1 .grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.c-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
}

.c-2 img {
    max-width: 100%;
    margin-top: -3rem;
}

/* CONTENEDOR 2 */
.c-contenido-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #f1f1f1;
    height: 70vh;
    margin-bottom: 6rem;
}

.c-3 {
    max-width: 390px;
    margin-left: 12rem;
}

.c-3 img {
    width: 345px;
    padding: 1.5rem 0.5rem;
}

.c-4 {
    width: 60%;
    margin-right: auto;
    padding: 1.5rem 0.5rem;
}

.c-4 h2 {
    text-align: center;
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 1rem;
} 

.c-4 p {
    text-align: center;
}

/* CONTENEDOR 3 */
.c-contenido-3-flex {
    display: flex;
}

.c-5 {
    padding: 0 3rem;
    border-right: 2px solid #f1f1f1;
}

.c-6 {
    padding: 0 3rem;
}

.c-5 h2 , .c-6 h2 {
    margin-bottom: 2rem;
}

.c-5 p , .c-6 p {
    margin-bottom: 1.25rem;
}

.c-5 ul li , .c-6 ul li {
    margin-left: 2rem;
}

.c-7 {
    padding: 3rem 4rem;
}

.ul-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.ul-grid li {
    list-style-type: none;
    text-align: center;
    margin-right: 2rem;
}

.c-contenido-4 {
    padding: 4rem 12rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.c-9 {
    padding-top: 4rem;
}

/* FOOTER*/
.ContenedorF {
    background-color: #000;
    color: #fff;
}

.contenedor-footer {
    padding: 3rem 4rem;
}

.nav-footer {
    padding-bottom: 3rem;
}

.nav-footer .c-f-imagen {
    margin-bottom: 2rem;
}

.contenedor-f-section {
    display: flex;
    justify-content: space-between;
}

.contenedor-f-section h5 {
    padding: 1rem 0;
}

.c-footer-section ul li {
    list-style-type: none;
}

.c-footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.c-footer-section-social h5 {
    padding: 1rem 0;
}

.c-footer-list-social {
    display: flex;
}

.c-footer-section-social li {
    list-style-type: none;
    margin-bottom: 3rem;
}

.c-footer-section-social li a {
    padding-right: 1rem;
}

.nav-footer-2 {
    padding-top: 1.5rem;
}

.contenedor-f-section-2 {
    position: relative;
    float: right;
}

.contenedor-f-section-2 a {
    color: #fff;
}

.nav-footer-2 .c-f-ul ul {
    display: flex;
    padding-bottom: 2rem;
}

.nav-footer-2 .c-f-ul ul li {
    display: flex;
    list-style-type: none;
    margin-right: 2rem;
}

.nav-footer-2 .c-f-ul ul li a {
    color: #fff;
}

.nav-footer-2 .c-f-ul p {
    max-width: 66%;
}

.nav-footer-2 .c-f-ul p a {
    color: #fff;
}





