* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

/* NAVBAR */

header nav {
    padding: 0 6rem;
    height: 4rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

header nav .lista-principal { 
    display: flex;
    padding-top: 1rem;
}

header nav .lista-principal .link-op {
    list-style-type: none;
    display: flex;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

header nav .link-op .op1, .op2, .op3, .op4 {
    padding: 0 1.5rem;
}

header nav #boton-descarga {
    border: 2px solid #0060df;
    border-radius: 0.3rem;
    background-color: transparent;
    min-width: 174px;
    min-height: 34px;
    font-size: 14px;
    margin-left: 13rem;
}

header nav .boton-descarga a {
    text-decoration: none;
    color: #0060df;
    font-weight: bold;
    padding: 4px 24px;
}

/* submenu del navbar*/
nav ul .link-op .op1:hover , .op2:hover, .op3:hover, .op4:hover {
    text-decoration: underline 3px;
}

/* se oculta el contenedor de los enlaces (sub) */
.menu-panel, .menu-panel-2 {
    display: none;
    position: absolute;
    width: 45%;
    height: 35rem;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) ;
    border-radius: 8px;
    top: 70px;
    z-index: 10;
}
.menu-panel-3 {
    display: none;
    position: absolute;
    width: 45%;
    height: 470px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) ;
    border-radius: 8px;
    top: 70px;
}

.menu-panel-4 {
    display: none;
    position: absolute;
    width: 45%;
    height: 350px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) ;
    border-radius: 8px;
    top: 70px;
    left: 230px;
}

/* se coloco el contenido en 4 filas*/
.grid1, .grid2 {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(4,max-content);
    padding: 15px 40px;
}

.grid3 {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3,max-content);
    padding: 15px 40px;
}

.grid4 {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2,max-content);
    padding: 15px 40px;
}

/* se coloco el icono como bloque para poder flotarlo a la izquierda*/
.section {
    padding-top: 1rem;
}

.section .link .icon {
    display: block;
    float: left;
    list-style-type: none;
}
.grid1, .grid2, .grid3, .grid4 li {
    list-style-type: none;
}

.link h4 {
    color: black;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 0 0 15px 50px;
}

.link p {
    font-size: 13px;
    color: black;
    font-family: sans-serif;
    padding: 0 0 20px 50px;
}

.menu-panel button, .menu-panel-2 button, .menu-panel-3 button, .menu-panel-4 button {
    background-color: transparent;
    border: none;
    width: 90%;
    margin: 0 auto;
    margin-top: 0.5rem;
    font-size: 1rem;
}

.menu-panel button a:hover, .menu-panel-2 button a:hover, .menu-panel-3 button a:hover, .menu-panel-4 button a:hover {
    text-decoration: underline;
}

/* mostar submenu*/
nav ul .link-op:hover .menu-panel {
    display: block;
}

nav ul .link-op:hover .menu-panel-2 {
    display: block;
}

nav ul .link-op:hover .menu-panel-3 {
    display: block;
}

nav ul .link-op:hover .menu-panel-4 {
    display: block;
}


/* CONTENEDOR DEL CONTENIDO */
.ContenedorC {
    width: 90vw;
    margin: 0 auto;
}

/* CONTENEDOR 1 */
.c-contenido-1 {
    padding: 4rem 0;
}

.c-contenido-1 .grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.c-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
}

.c-1 h2 {
    font-size: 4em;
    font-family: Metropolis,Inter,X-LocaleSpecific,sans-serif;
    font-weight:bold;
    color: #271948;
    margin-bottom: 2rem;
}

.c-1 p a {
    background-color: #0060df;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    border-radius: 0.3rem;
}

.c-2 img {
    max-width: 100%;
    margin-top: -3rem;
}

/* CONTENEDOR 2 */
.c-contenido-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #f1f1f1;
    min-height: 55vh;
    margin-bottom: 6rem;
}

.c-3 {
    max-width: 390px;
    margin-left: 12rem;
}

.c-3 img {
    width: 345px;
    padding: 1.5rem 0.5rem;
}

.c-4 {
    width: 60%;
    margin-right: auto;
    padding: 1.5rem 0.5rem;
}

.c-4 h2 {
    text-align: center;
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 1rem;
    font-family: Zilla Slab,Inter,X-LocaleSpecific,sans-serif;
} 

.c-4 p {
    text-align: center;
    font-family: Inter,X-LocaleSpecific,sans-serif;
}

/* CONTENEDOR 3 */
.c-contenido-3-flex {
    display: flex;
}

.c-5 {
    padding: 0 3rem;
    border-right: 2px solid #f1f1f1;
}

.c-6 {
    padding: 0 3rem;
}

.c-5 h2 , .c-6 h2 {
    margin-bottom: 2rem;
}

.c-5 p , .c-6 p {
    margin-bottom: 1.25rem;
}

.c-5 ul li , .c-6 ul li {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}

.c-5 ul li a, .c-6 ul li a {
    color: #0060df;
    font-weight: bold;
    font-family: Inter,X-LocaleSpecific,sans-serif;
}

.c-7 {
    padding: 3rem 4rem;
}

.c-7 .ul-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.c-7 .ul-grid li {
    list-style-type: none;
    text-align: center;
    margin-right: 2rem;
}

.c-7 ul li h2 {
    margin-bottom: 1.2rem;
    text-decoration: underline 3px solid #0060df;
    font-family: Zilla Slab,Inter,X-LocaleSpecific,sans-serif;
    font-size: 2.5rem;
}

.c-7 ul li p {
    padding: 0 2rem;
    font-family: Inter,X-LocaleSpecific,sans-serif;
}

.c-contenido-4 {
    padding: 4rem 12rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.c-9 {
    padding-top: 4rem;
}

.c-9 h3 {
    font-size: 3rem;
    margin-bottom: 0.8rem;
}

.c-9 p {
    margin-bottom: 1.2rem;
}

.c-contenido-4 .c-9 label {
    margin-bottom: 0.5rem;
    font-weight: bolder;
}

.c-contenido-4 .c-9 input { 
    width: 100%;
    padding: 0.5rem ;
    margin: 1rem 0;
} 

.c-contenido-4 .c-9 button {
    background-color: #000;
    border: 2px solid #000;
    color: #fff;
    width: 100%;
    padding: 0.5rem  1.5rem;
    font-size: 1em;
    border-radius: 4px;
}

/* FOOTER*/
.ContenedorF {
    background-color: #000;
    color: #fff;
}

.contenedor-footer {
    padding: 3rem 4rem;
}

.nav-footer {
    padding-bottom: 3rem;
}

.nav-footer .c-f-imagen {
    margin-bottom: 2rem;
}

.contenedor-f-section {
    display: flex;
    justify-content: space-between;
}

.contenedor-f-section h5 {
    padding: 1rem 0;
    font-weight: bolder;
    font-size: 16px;
}

.c-footer-section ul li {
    list-style-type: none;
}

.c-footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.c-footer-section-social h5 {
    padding: 1rem 0;
}

.c-footer-list-social {
    display: flex;
}

.c-footer-section-social li {
    list-style-type: none;
    margin-bottom: 3rem;
}

.c-footer-section-social li a {
    padding-right: 1rem;
}

.nav-footer-2 {
    padding-top: 1.5rem;
}

.contenedor-f-section-2 {
    position: relative;
    float: right;
}

.contenedor-f-section-2 a {
    color: #fff;
}

.nav-footer-2 .c-f-ul ul {
    display: flex;
    padding-bottom: 2rem;
}

.nav-footer-2 .c-f-ul ul li {
    display: flex;
    list-style-type: none;
    margin-right: 2rem;
}

.nav-footer-2 .c-f-ul ul li a {
    color: #fff;
}

.nav-footer-2 .c-f-ul p {
    max-width: 66%;
}

.nav-footer-2 .c-f-ul p a {
    color: #fff;
}





