@media (max-width: 1030px) {
    header nav {
        height: 112px;
    }

    header nav ul li {
        margin-top: 3.8rem;
        
    }

    header nav ul li a {
        position: relative;
        right: 8.5rem;
    }

    .menu-panel, .menu-panel-2 {
        display: none;
        position: absolute;
        width: 55%;
        height: 43rem;
        background-color: white;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) ;
        border-radius: 8px;
        top: 130px;
        left: 100px;
        z-index: 10;
    }

    .menu-panel-3 {
        display: none;
        position: absolute;
        width: 55%;
        height: 35rem;
        background-color: white;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) ;
        border-radius: 8px;
        top: 130px;
        left: 380px;
    }
    
    .menu-panel-4 {
        display: none;
        position: absolute;
        width: 55%;
        height: 25rem;
        background-color: white;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) ;
        border-radius: 8px;
        top: 130px;
        left: 110px;
    }

    .menu-panel .grid1 .elementos, .menu-panel-2 .grid2 .elementos, 
    .menu-panel-3 .grid3 .elementos, .menu-panel-4 .grid4 .elementos {
        position: relative;
        bottom: 50px;
        left: 140px;
    }

    .menu-panel .grid1 .elementos .section,  .menu-panel-2 .grid2 .elementos .section,
    .menu-panel-3 .grid3 .elementos .section, .menu-panel-4 .grid4 .elementos .section {
        height: 90px;
        margin-right: 2rem;
    }

    .menu-panel button, .menu-panel-2 button, .menu-panel-3 button, .menu-panel-4 button {
        position: relative;
        left: 150px;
    }

    .c-contenido-1 h2 {
        font-size: 4em;
    }

    .c-contenido-1 .c-2 img {
        width: 410px;
        height: 364px;
    }

    .c-contenido-2 {
        height: 65vh;
    }

    .c-contenido-2 .c-4 h2 {
        font-size: 2.5em;
    }
}

@media (max-width: 1020px) {
    header nav {
        height: 64px;
    }

    header nav ul li {
        margin-top: 0;
    }

    header nav ul li a {
        position: relative;
        right: 0;
    }

    .grid1, .grid2, .grid3, .grid4 {
        display: grid; 
        grid-auto-flow: row; 
        padding-top: 3rem;
    }

    .menu-panel {
        display: none;
        position: absolute;
        width: 30%;
        height: 50rem;
        background-color: white;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) ;
        border-radius: 8px;
        top: 80px;
        left: 220px;
        z-index: 10;
    }

    .menu-panel-2 {
        display: none;
        position: absolute;
        width: 30%;
        height: 50rem;
        background-color: white;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) ;
        border-radius: 8px;
        top: 80px;
        left: 380px;
        z-index: 10;
    }
    
    .menu-panel-3 {
        display: none;
        position: absolute;
        width: 30%;
        height: 45rem;
        background-color: white;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) ;
        border-radius: 8px;
        top: 80px;
        left: 500px;
    }
    
    .menu-panel-4 {
        display: none;
        position: absolute;
        width: 30%;
        height: 30rem;
        background-color: white;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) ;
        border-radius: 8px;
        top: 80px;
        left: 450px;
    }

    .menu-panel .grid1 .elementos,  .menu-panel-2 .grid2 .elementos,
    .menu-panel-3 .grid3 .elementos, .menu-panel-4 .grid4 .elementos {
        left: -20px;
        width: 280px;
        padding-bottom: 1rem;
    }

    .menu-panel button, .menu-panel-2 button, .menu-panel-3 button, .menu-panel-4 button {
        position: relative;
        left: 15px;
        bottom: 50px;
    }

    .c-contenido-3 .c-contenido-3-flex {
        flex-direction: column;
        border-right: none;
    }

    .c-contenido-3 .c-5 {
        padding-bottom: 2rem;
        border: none;
    }

    .c-7 .ul-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .c-7 .ul-grid li {
        margin: 0;
        padding-bottom: 2rem;
    }

    .c-7 .ul-grid h2 {
        font-size: 1.7rem;
    }

    .c-contenido-4 {
        padding: 4rem 3rem;
    }

    .contenedor-f-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .c-footer-section ul {
        padding-bottom: 1rem;
    }

    .nav-footer-2 .c-f-ul ul a {
        padding-bottom: 1rem;
        grid-gap: 100%;
    }

}

@media (max-width: 320px) {
    .contenedorHeader{
        width: 90%;
        margin: 0 auto;
    }

    header nav {    
        width: 100vw;
        padding: 0 1rem;
    }

    .link-op a {
        display: none;
    }

    nav ul #boton-descarga {
        border: none;
    }

    nav .boton-descarga a {
        display: none;
    }

    .ContenedorC .c-contenido-1 {
        padding-bottom: 6rem;
    }

    .ContenedorC .c-contenido-1 .grid-2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .ContenedorC .c-contenido-1 .c-1  {
        padding-left: 2rem;
    }

    .ContenedorC .c-contenido-1 .c-1 h2 {
        text-align: center;
    }

    .ContenedorC .c-contenido-1 .c-2 {
        display: none;
    }

    .ContenedorC .c-contenido-2 {
        grid-template-columns: repeat(1, 1fr);
        height: 90vh;
        padding-top: 4rem;
    }

    .ContenedorC .c-contenido-2 .c-3 {
        max-width: 0;
        max-height: 4rem;
        margin-left: 0;
    }

    .ContenedorC .c-contenido-2 .c-3 img {
        width: 250px;
        margin-left: 1rem;
        position: relative;
        bottom: 8rem;
    }

    .c-4 {
        width: 100%;
    }

    .ContenedorC .c-contenido-2 .c-4 h2 {
        font-size: 2.3rem;
    }

    .c-contenido-3 .c-contenido-3-flex {
        flex-direction: column;
        border-right: none;
    }

    .c-contenido-3 .c-5, .c-6 {
        padding: 1rem 0;
        border: none;
    }

    .c-7 {
        padding: 3rem 1.5rem;
    }

    .c-7 .ul-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .c-7 .ul-grid li {
        margin: 0;
        padding-bottom: 2rem;
    }

    .c-7 .ul-grid h2 {
        font-size: 1.5rem;
    }

    .c-7 .ul-grid p {
        padding: 0;
    }

    .c-contenido-4 {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }

    .c-contenido-4 img {
        width: 272px;
    }

    .c-contenido-4 .c-9 {
        padding: 3rem 1rem;
    }

    .c-contenido-4 .c-9 h3 {
        font-size: 2.5rem;
    }

    .c-contenido-4 .c-9 label {
        margin-bottom: 0.5rem;
        font-weight: bolder;
    }
    
    .c-contenido-4 .c-9 input { 
        width: 100%;
        padding: 0.5rem ;
        margin: 1rem 0;
    } 

    .c-contenido-4 .c-9 button {
        background-color: #000;
        border: 2px solid #000;
        color: #fff;
        width: 100%;
        padding: 0.5rem  1.5rem;
        font-size: 1em;
        border-radius: 4px;
    }

    footer .contenedor-footer {
        padding: 3rem 1.5rem;
    }

    footer .contenedor-f-section {
        flex-direction: column; 
    }

    footer .contenedor-f-section .c-footer-list {
        display: none;
    }

    .nav-footer-2 {
        display: flex;
        flex-direction: column;
    }

    nav .contenedor-f-section-2  {
        float: left;
        margin-bottom: 2rem;
    }

    .nav-footer-2  .c-f-ul ul {
        flex-direction: column;
    }

    .nav-footer-2  .c-f-ul ul a {
        padding-bottom: 1rem;
    }

    .nav-footer-2 .c-f-ul p {
        max-width: 100%;
    }
}